storage_elasticsearch/data/
storage_elasticsearch/log/
reports/
node_modules/
testresults/
stats/
docs/*
.vagrant/
coverage/

*.tar.gz
*.tgz
*.swp
*.log
*.zat

checkstyle-result.xml
coverage.*
junit.xml
